body{
    background: lavender;
}
table{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
}
.back-button{
    text-align: left;
    background: cornflowerblue;
}
.center-div{
    text-align: center;
}