<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listify</title>
    <link th:href="@{/mainView.css}" rel="stylesheet" />
</head>
<body>
<h2 class="main-header">Listify</h2>
<h4>Songs against boredom</h4>
<br>
<form action="#" th:action="@{'http://localhost:8080/listify/viewTracks'}" method="get">
    <input type="submit" value="All tracks">
</form>
<form action="#" th:action="@{'http://localhost:8080/listify/viewArtists'}" method="get">
    <input type="submit" value="All artists">
</form>
<form action="#" th:action="@{'http://localhost:8080/listify/viewAlbums'}" method="get">
    <input type="submit" value="All albums">
</form>
<h5>♫⋆｡♪ ₊˚♬ ﾟ.♫⋆｡♪ ₊˚♬ ﾟ.♫⋆｡♪ ₊˚♬ ﾟ.</h5>
<h3>Random Track:</h3>
<img th:src="${randomSong.image}" width="100" height="100">
<h4 th:text="${randomSong.getName()}"></h4>
<p><a th:href="@{'http://localhost:8080/listify/tracks/'+${randomSong.getSpotifyId()}}">See more</a></p>
<br>
<h5>♫⋆｡♪ ₊˚♬ ﾟ.♫⋆｡♪ ₊˚♬ ﾟ.♫⋆｡♪ ₊˚♬ ﾟ.</h5>
<h3>Random Artist:</h3>
<img th:src="${randomArtist.image}" width="100" height="100">
<h4 th:text="${randomArtist.getName()}"></h4>
<p><a th:href="@{'http://localhost:8080/listify/artists/'+${randomArtist.getSpotifyId()}}">See more</a></p>
<h5>♫⋆｡♪ ₊˚♬ ﾟ.♫⋆｡♪ ₊˚♬ ﾟ.♫⋆｡♪ ₊˚♬ ﾟ.</h5>
<h2>Add data</h2>
<a href="http://localhost:8080/listify/save/artist">Add Artist</a>
<br>
<a href="http://localhost:8080/listify/save/album">Add Album</a>
<br>
<a href="http://localhost:8080/listify/save/track">Add Track</a>
<h5>♫⋆｡♪ ₊˚♬ ﾟ.♫⋆｡♪ ₊˚♬ ﾟ.♫⋆｡♪ ₊˚♬ ﾟ.</h5>
</body>
</html>