<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Save album</title>
</head>
<body>
<h2>Add a new Album</h2>
<form action="#" th:action="@{'http://localhost:8080/listify/save/album'}" th:object="${album}" method="post">
  <fieldset>
    <legend>Info</legend>
    <label>Name:</label>
    <input type="text" th:field="*{name}" id="name" required>
    <br>
    <label>Album type:</label>
    <select th:field="*{albumType}" required>
      <option value="album">Album</option>
      <option value="single">Single</option>
    </select>
    <br>
    <label>Image link:</label>
    <input type="text" th:field="*{image}" id="image" required>
    <br>
    <label>Release date</label>
    <input type="date" th:field="*{releaseDate}" required>
    <br>
    <input type="hidden" th:field="*{spotifyId}">
    <input type="hidden" th:field="*{totalTracks}" value="0">
    <input type="submit" value="Save" id="add">
  </fieldset>
</form>
</body>
</html>