<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update artist</title>
    <link th:href="@{/mainView.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{'http://localhost:8080/listify/main'}" method="get">
    <input class="back-button" type="submit" value="Back">
</form>
<div class="center-div">
    <h2>♫ Edit Artist info ♫</h2>
    <form action="#" th:action="@{'http://localhost:8080/listify/update/artist/'+${artist.spotifyId}}" th:object="${artist}" method="post">
        <fieldset>
            <legend>Info</legend>
            <label>Name:</label>
            <input type="text" th:field="*{name}" id="name" required>
            <br>
            <label>Genres:</label>
            <input type="text" th:field="*{genres}" id="genres" required>
            <br>
            <label>Image link:</label>
            <input type="text" th:field="*{image}" id="image" required>
            <br>
            <label>Popularity (allowed values from 0 to 100)</label>
            <input type="number" th:field="*{popularity}">
            <br>
            <input type="hidden" th:field="*{spotifyId}">
            <input type="submit" value="Update" id="add">
        </fieldset>
    </form>
</div>
</body>
</html>