<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song Details</title>
    <link th:href="@{/mainView.css}" rel="stylesheet" />
</head>
<body>
<h2 th:text="${track.name}">Song</h2>
<table class="table-main" border="1">
    <thead>
    <th></th>
    <th>Name</th>
    <th>Album</th>
    <th>Artists</th>
    <th>Length</th>
    <th>Is Explicit?</th>
    <th>Spotify</th>
    </thead>
    <tbody>
    <td><img th:src="${track.getImage()}" width="70" height="70"></td>
    <td th:text="${track.getName()}"></td>
    <td th:text="${track.getAlbum()}"></td>
    <td th:text="${track.getPrettyArtists()}"></td>
    <td th:text="${track.getLength()}"></td>
    <td th:text="${track.getExplicitPretty()}"></td>
    <td><a th:text="${track.getSpotifyUrl()}"></a></td>
    </tbody>
</table>
</body>
</html>