<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/mainView.css}" rel="stylesheet" />
    <style>
        table, th, td {
            border: 1px solid black;
            text-align:center;
        }
        th, td {
            padding: 20px;
        }
    </style>
</head>
<body>
<h2 th:text="${artist.name}">Song</h2>
<table class="table-main" border="1">
    <thead>
    <th></th>
    <th>Name</th>
    <th>Genres</th>
    </thead>
    <tbody>
    <td><img th:src="${artist.image}" width="170" height="170"></td>
    <td th:text=" ${artist.name} "></td>
    <td th:text=" ${artist.genres} "></td>
    </tbody>
</table>
<p>This artist's popularity is:</p>
<p th:text="${artist.popularity}"></p>
<p th:text="${artist.popularityStats()}"></p>
</body>
</html>