<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/mainView.css}" rel="stylesheet" />
</head>
<body>
<h2 th:text="${artist.name}">Song</h2>
<table class="table-main" border="1">
    <thead>
    <th></th>
    <th>Name</th>
    <th>Genres</th>
    </thead>
    <tbody>
    <td><img th:src="${artist.getImage()}" width="50" height="50"></td>
    <td th:text="${artist.getName()}"></td>
    <td th:text="${artist.getGenres()}"></td>
    </tbody>
</table>
</body>
</html>