<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Song Details</title>
    <link th:href="@{/mainView.css}" rel="stylesheet" />
    <style>
        table, th, td {
            border: 1px solid black;
            text-align:center;
        }
        th, td {
            padding: 20px;
        }
    </style>
</head>
<body>
<h2 th:text="${track.name}">Song</h2>
<table class="table-main">
    <thead>
    <th></th>
    <th>Name</th>
    <th>Album</th>
    <th>Artists</th>
    <th>Length</th>
    <th>Is Explicit?</th>
    </thead>
    <tbody>
    <td><img th:src="${track.getImage()}" width="170" height="170"></td>
    <td th:text="${track.getName()}"></td>
    <td th:text="${track.getAlbum()}"></td>
    <td th:text="${track.getPrettyArtists()}"></td>
    <td th:text="${track.getLength()}"></td>
    <td th:text="${track.getExplicitPretty()}"></td>
    </tbody>
</table>
<p>Track's popularity is</p>
<p th:text="${track.popularity}"></p>
<p th:text="${track.popularityStats()}"></p>
</body>
</html>